@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  visibility: visible;
}

html,
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.box,
.box-fluid,
.box-lg,
.box-md,
.box-sm,
.box-xl,
.box-xxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0.75rem;
}

.r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-1 {
  width: 5%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-2 {
  width: 10%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-3 {
  width: 15%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-4 {
  width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-5 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-6 {
  width: 30%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-7 {
  width: 35%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-8 {
  width: 40%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-9 {
  width: 45%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-10 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-11 {
  width: 55%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-12 {
  width: 60%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-13 {
  width: 65%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-14 {
  width: 70%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-15 {
  width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-16 {
  width: 80%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-17 {
  width: 85%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-18 {
  width: 90%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-19 {
  width: 95%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.c-20 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.wrapper-1 {
  padding: 1rem !important;
}

.wrapper-x-1 {
  padding: 0 1rem !important;
}

.wrapper-y-1 {
  padding: 1rem 0 !important;
}

.wrapper-2 {
  padding: 2rem !important;
}

.wrapper-x-2 {
  padding: 0 2rem !important;
}

.wrapper-y-2 {
  padding: 2rem 0 !important;
}

.wrapper-3 {
  padding: 3rem !important;
}

.wrapper-x-3 {
  padding: 0 3rem !important;
}

.wrapper-y-3 {
  padding: 3rem 0 !important;
}

.wrapper-4 {
  padding: 4rem !important;
}

.wrapper-x-4 {
  padding: 0 4rem !important;
}

.wrapper-y-4 {
  padding: 4rem 0 !important;
}

.wrapper-5 {
  padding: 5rem !important;
}

.wrapper-x-5 {
  padding: 0 5rem !important;
}

.wrapper-y-5 {
  padding: 5rem 0 !important;
}

a {
  text-decoration: none;
}

header {
  z-index: 99;
  height: 5rem;
  background-color: #00c9c8;
}

header nav {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-sidebar #nav-container {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

header nav .nav-sidebar #nav-container .bg {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #000000;
}

header nav .nav-sidebar #nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.7;
}

header nav .nav-sidebar #nav-container .burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 5rem;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header nav .nav-sidebar #nav-container .burger .icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .nav-sidebar #nav-container .burger .icon-bar + .icon-bar {
  margin-top: 5px;
}

header nav .nav-sidebar #nav-container:focus-within .burger {
  pointer-events: none;
}

header nav .nav-sidebar #nav-container:focus-within .icon-bar:nth-of-type(1) {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
          transform: translate3d(0, 8px, 0) rotate(45deg);
}

header nav .nav-sidebar #nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

header nav .nav-sidebar #nav-container:focus-within .icon-bar:nth-of-type(3) {
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
          transform: translate3d(0, -8px, 0) rotate(-45deg);
}

header nav .nav-sidebar #nav-container .content {
  position: absolute;
  top: 5rem;
  left: 0;
  height: calc(100% - 5rem);
  width: 100%;
  max-width: 16rem;
  background-color: #FFFFFF;
  pointer-events: auto;
  -webkit-tap-highlight-color: #0e3017;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
  contain: paint;
  overflow-y: auto;
}

header nav .nav-sidebar #nav-container .content ul {
  padding: 1rem;
  list-style: none;
}

header nav .nav-sidebar #nav-container .content ul li {
  padding: .25rem 0 .25rem 2rem;
}

header nav .nav-sidebar #nav-container .content ul li a {
  display: inline-block;
  padding: 0.25rem .60rem;
  border-radius: 0.5rem;
  font-size: .92rem;
  font-weight: 500;
  color: #040404;
}

header nav .nav-sidebar #nav-container .content ul li a:hover {
  color: #00c9c8;
  background-color: #00c9c913;
}

header nav .nav-sidebar #nav-container .content ul .about {
  margin-top: 3rem;
  min-height: 10rem;
  width: 100%;
  border-radius: .5rem;
  background-color: #00c9c913;
}

header nav .nav-sidebar #nav-container .content ul h4 {
  padding: .75rem 0.75rem .25rem;
  cursor: pointer;
}

header nav .nav-sidebar #nav-container .content ul h4 a {
  padding: .5rem .25rem;
  color: #040404;
  font-weight: 600;
  font-size: .5rem;
}

header nav .nav-sidebar #nav-container:focus-within .content {
  -webkit-transform: none;
          transform: none;
}

header nav .nav-logo img {
  width: 12rem;
  height: 3rem;
}

header nav .nav-brand {
  font-family: 'Caveat', cursive;
  color: #FFFFFF;
  font-size: 2.4rem;
}

header nav .nav-brand h1 {
  padding: 0 .75rem;
}

header nav .nav-base-links ul,
header nav .nav-auth-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
}

header nav .nav-base-links ul li a,
header nav .nav-auth-links ul li a {
  display: inline-block;
  margin: 1.5rem 1.5rem 1rem;
  padding: 0 .1rem;
  font-size: .95rem;
  font-weight: 600;
  color: #f7f4f4;
  letter-spacing: .02rem;
}

main {
  position: relative;
  background-color: #FFFFFF;
}

main .bucket {
  padding: 1rem;
  border-radius: .5rem;
  background-color: #f5f5f5;
}

main .bucket .quotes {
  color: #303030;
  margin: 1.25rem 0 1.25rem .25rem;
  padding: 0.25rem 0.5rem;
  border-left: 5px solid #28282B;
}

main .bucket .inner-bucket {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: .5rem;
}

main .bucket .inner-bucket .quote {
  color: #303030;
  margin: 1.25rem 0 1.25rem .25rem;
  padding: 0.5rem 0.5rem;
  background-color: #FFFFFF;
  border-radius: .35rem;
}

main .bucket .result .iBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: .5rem;
  background-color: #00c9c913;
}

main .bucket .result .iBox label {
  padding: .3rem .2rem;
  font-size: .92rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #303030;
}

main .bucket .result .iBox .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .bucket .result .iBox .input-wrapper .pre,
main .bucket .result .iBox .input-wrapper .post {
  background-color: #00c9c8;
  height: 3rem;
  width: 3rem;
  margin: .5rem 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

main .bucket .result .iBox .input-wrapper .post button {
  background-color: #00c9c8;
  height: 2.9rem;
  width: 2.9rem;
  outline: none;
  border: none;
}

main .bucket .result .iBox .error {
  color: #f80505d2;
  padding: 0 .3rem;
  font-size: .82rem;
  font-weight: 500;
  letter-spacing: .015rem;
  font-family: "Poppins", sans-serif;
}

main .bucket .code .resultCode {
  font-family: 'Source Code Pro', monospace;
  font-size: .92rem;
  overflow-y: auto;
  border-radius: .5rem;
  color: #FFFFFF;
  background-color: #28282B;
  font-family: monospace;
  white-space: pre;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app header {
  width: 100%;
}

.app header .app-nav-simple .nav-base-links li a,
.app header .app-nav-simple .nav-auth-links li a {
  padding: .25rem .75rem;
  border-radius: .5rem;
}

.app header .app-nav-simple .nav-base-links li a:hover,
.app header .app-nav-simple .nav-auth-links li a:hover {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background: #FFFFFF;
  color: #00aaa9;
}

.app header .app-nav-m .nav-base-links ul,
.app header .app-nav-m .nav-auth-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app header .app-nav-m .nav-base-links ul li a,
.app header .app-nav-m .nav-auth-links ul li a {
  padding: .25rem 1rem;
  border-radius: .5rem;
}

.app header .app-nav-m .nav-base-links ul li a:hover,
.app header .app-nav-m .nav-auth-links ul li a:hover {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background: #FFFFFF;
  color: #00aaa9;
}

.app header .app-nav-m .nav-base-links ul .dd,
.app header .app-nav-m .nav-auth-links ul .dd {
  position: relative;
  display: block;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt,
.app header .app-nav-m .nav-auth-links ul .dd-cnt {
  display: none;
  position: absolute;
  right: 2%;
  padding: .5rem;
  border-radius: .5rem;
  min-height: 12rem;
  min-width: 10rem;
  z-index: 99;
  background: #FFFFFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt ul,
.app header .app-nav-m .nav-auth-links ul .dd-cnt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt ul li,
.app header .app-nav-m .nav-auth-links ul .dd-cnt ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  border-radius: .5rem;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt ul li .icon,
.app header .app-nav-m .nav-auth-links ul .dd-cnt ul li .icon {
  width: 25%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt ul li .icon i,
.app header .app-nav-m .nav-auth-links ul .dd-cnt ul li .icon i {
  background: transparent;
  height: inherit;
  border-radius: 0rem;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt ul li .link,
.app header .app-nav-m .nav-auth-links ul .dd-cnt ul li .link {
  height: inherit;
  width: auto;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt ul li .link a,
.app header .app-nav-m .nav-auth-links ul .dd-cnt ul li .link a {
  color: #303030;
  margin: 0rem;
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  font-size: .92rem;
  font-weight: 500;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt ul li:hover,
.app header .app-nav-m .nav-auth-links ul .dd-cnt ul li:hover {
  background: #00c9c913;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt ul li:hover .icon i,
.app header .app-nav-m .nav-auth-links ul .dd-cnt ul li:hover .icon i {
  color: #00c9c8;
}

.app header .app-nav-m .nav-base-links ul .dd-cnt ul li:hover .link a,
.app header .app-nav-m .nav-auth-links ul .dd-cnt ul li:hover .link a {
  -webkit-transition: .4s;
  transition: .4s;
  background: transparent;
  color: #00c9c8;
}

.app header .app-nav-m .nav-base-links ul .dd:hover .dd-cnt,
.app header .app-nav-m .nav-auth-links ul .dd:hover .dd-cnt {
  display: block;
}

.app header .app-nav-m .nav-base-links ul .dd:hover .dd-btn,
.app header .app-nav-m .nav-auth-links ul .dd:hover .dd-btn {
  background: #FFFFFF;
  color: #00aaa9;
}

.app .app-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 50vh;
}

.app .app-section .app-sidebar {
  position: fixed;
  width: 16rem;
  top: 5rem;
  height: calc(100% - 5rem);
  overflow-y: auto;
  background-color: #fefefefe;
}

.app .app-section .app-sidebar ul {
  padding: 1rem;
  list-style: none;
}

.app .app-section .app-sidebar ul li {
  padding: .25rem 0 .25rem 2rem;
}

.app .app-section .app-sidebar ul li a {
  display: inline-block;
  padding: 0.25rem .60rem;
  border-radius: 0.5rem;
  font-size: .92rem;
  font-weight: 500;
  color: #303030;
}

.app .app-section .app-sidebar ul li a:hover {
  color: #00c9c8;
  background-color: #00c9c913;
}

.app .app-section .app-sidebar .about {
  margin-top: 3rem;
  min-height: 10rem;
  width: 100%;
  border-radius: .5rem;
  background-color: #00c9c913;
}

.app .app-section .app-sidebar h4 {
  padding: .75rem 0.5rem .25rem;
  cursor: pointer;
}

.app .app-section .app-sidebar h4 a {
  padding: .5rem .25rem;
  color: #040404;
  font-weight: 600;
  font-size: .92rem;
}

.app main {
  padding-top: 5rem;
  left: 16rem;
  width: calc(100% - 16rem);
}

.app main i {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .dashboard-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 5rem;
  background: #00c9c8;
  padding: 6px 14px;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #FFFFFF;
}

.dashboard .dashboard-sidebar .logo-details {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.dashboard .dashboard-sidebar .logo-details .icon {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dashboard .dashboard-sidebar .logo-details .logo_name {
  color: #FFFFFF;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: .5rem;
}

.dashboard .dashboard-sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.25rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 1.75rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dashboard .dashboard-sidebar .nav-list {
  margin-top: 3rem;
  height: 100%;
}

.dashboard .dashboard-sidebar .nav-list li {
  position: relative;
  margin: .5rem 0;
  list-style: none;
}

.dashboard .dashboard-sidebar .nav-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: .75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #00aaa9;
}

.dashboard .dashboard-sidebar .nav-list li a .links_name {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dashboard .dashboard-sidebar .nav-list li a:hover {
  background: #FFFFFF;
}

.dashboard .dashboard-sidebar .nav-list li a:hover .links_name,
.dashboard .dashboard-sidebar .nav-list li a:hover i {
  color: #00aaa9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dashboard .dashboard-sidebar .nav-list li i {
  height: 50px;
  line-height: 50px;
  font-size: 1.25rem;
  border-radius: .75rem;
}

.dashboard .dashboard-sidebar .nav-list li .tooltip {
  position: absolute;
  top: -1.25rem;
  left: calc(100% + 1rem);
  z-index: 3;
  background: #00c9c8;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: .5rem 1rem;
  border-radius: .25rem;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  -webkit-transition: 0s;
  transition: 0s;
}

.dashboard .dashboard-sidebar .nav-list li .profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.dashboard .dashboard-sidebar .nav-list li img {
  height: 45px;
  width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.dashboard .dashboard-sidebar .nav-list li:hover .tooltip {
  color: #FFFFFF;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dashboard .dashboard-sidebar .nav-list li.profile {
  position: fixed;
  height: 60px;
  width: 5rem;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.dashboard .dashboard-sidebar .nav-list li.profile .name,
.dashboard .dashboard-sidebar .nav-list li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
  white-space: nowrap;
}

.dashboard .dashboard-sidebar .nav-list li.profile .job {
  font-size: 12px;
}

.dashboard .dashboard-sidebar .nav-list .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #00aaa9;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dashboard .dashboard-sidebar input {
  font-size: 15px;
  color: #FFFFFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  -webkit-transition: all 1.02s ease;
  transition: all 1.02s ease;
  background: #00aaa9;
}

.dashboard .dashboard-sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 22px;
  background: #00aaa9;
  color: #FFFFFF;
}

.dashboard .dashboard-sidebar .bx-search:hover {
  background: #FFFFFF;
  color: #00aaa9;
}

.dashboard .dashboard-sidebar i {
  color: #FFFFFF;
  height: 60px;
  min-width: 50px;
  font-size: 54px;
  text-align: center;
  line-height: 60px;
}

.dashboard .dashboard-sidebar.open {
  width: 16rem;
}

.dashboard .dashboard-sidebar.open .logo-details .icon,
.dashboard .dashboard-sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.dashboard .dashboard-sidebar.open .logo-details #btn {
  text-align: right;
}

.dashboard .dashboard-sidebar.open .nav-list li .tooltip {
  display: none;
}

.dashboard .dashboard-sidebar.open .nav-list li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.dashboard .dashboard-sidebar.open .nav-list li.profile {
  width: 16rem;
  background: #00aaa9;
}

.dashboard .dashboard-sidebar.open .nav-list .profile #log_out {
  width: 50px;
  background: none;
}

.dashboard .dashboard-sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.dashboard .dashboard-sidebar.open ::-webkit-input-placeholder {
  color: #FFFFFF;
}

.dashboard .dashboard-sidebar.open :-ms-input-placeholder {
  color: #FFFFFF;
}

.dashboard .dashboard-sidebar.open ::-ms-input-placeholder {
  color: #FFFFFF;
}

.dashboard .dashboard-sidebar.open ::placeholder {
  color: #FFFFFF;
}

.dashboard .dashboard-sidebar.open input:focus {
  color: #FFFFFF;
  background: #00aaa9;
}

.dashboard .dashboard-sidebar.open .bx-search:hover {
  color: #FFFFFF;
  background: #00aaa9;
}

.dashboard .dashboard-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100vh;
  left: 5rem;
  width: calc(100% - 5rem);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}

.dashboard .dashboard-section header {
  left: 5rem;
  width: calc(100% - 5rem);
  background: #00c9c8;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.dashboard .dashboard-section header .db-nav {
  padding-left: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul,
.dashboard .dashboard-section header .db-nav .nav-notification ul,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul li a,
.dashboard .dashboard-section header .db-nav .nav-notification ul li a,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul li a {
  padding: .75rem;
  border-radius: .5rem;
  display: inline-block;
  margin: 1.5rem 1.5rem 1rem;
  border: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  background: #00e6e23a;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul li a:hover,
.dashboard .dashboard-section header .db-nav .nav-notification ul li a:hover,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul li a:hover {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background: #FFFFFF;
  color: #00aaa9;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd {
  position: relative;
  display: inline-block;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt {
  display: none;
  position: absolute;
  right: 2%;
  padding: .5rem;
  border-radius: .5rem;
  min-height: 12rem;
  min-width: 10rem;
  z-index: 99;
  background: #FFFFFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt ul,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt ul,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt ul li,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt ul li,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
  border-radius: .5rem;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt ul li .icon,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt ul li .icon,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt ul li .icon {
  width: 25%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt ul li .icon i,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt ul li .icon i,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt ul li .icon i {
  background: transparent;
  height: inherit;
  border-radius: 0rem;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt ul li .link,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt ul li .link,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt ul li .link {
  height: inherit;
  width: 75%;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt ul li .link a,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt ul li .link a,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt ul li .link a {
  color: #303030;
  margin: 0rem;
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5rem;
  font-size: .9rem;
  font-weight: 500;
  background: transparent;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt ul li:hover,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt ul li:hover,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt ul li:hover {
  background: #00c9c913;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt ul li:hover .icon i,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt ul li:hover .icon i,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt ul li:hover .icon i {
  color: #00c9c8;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd-cnt ul li:hover .link a,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd-cnt ul li:hover .link a,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd-cnt ul li:hover .link a {
  -webkit-transition: .1s;
  transition: .1s;
  background: transparent;
  color: #00c9c8;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd:hover .dd-cnt,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd:hover .dd-cnt,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd:hover .dd-cnt {
  display: block;
}

.dashboard .dashboard-section header .db-nav .nav-chat ul .dd:hover .dd-btn,
.dashboard .dashboard-section header .db-nav .nav-notification ul .dd:hover .dd-btn,
.dashboard .dashboard-section header .db-nav .nav-auth-links ul .dd:hover .dd-btn {
  background: #FFFFFF;
  color: #00aaa9;
}

.dashboard .dashboard-section main {
  padding-top: 5rem;
}

.dashboard .dashboard-sidebar.open ~ .dashboard-section {
  left: 16rem;
  width: calc(100% - 16rem);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="date"] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: .5rem 0;
  height: 3rem;
  display: block;
  padding: 0 1rem;
  font-size: .9rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #303030;
  letter-spacing: .02rem;
  border: none;
  background-color: #fafafa;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="search"]:focus {
  background-color: #FFFFFF;
  border-radius: none;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

::-webkit-input-placeholder {
  font-size: .9rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

:-ms-input-placeholder {
  font-size: .9rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

::-ms-input-placeholder {
  font-size: .9rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  font-size: .9rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.fixed {
  position: fixed !important;
}

.relative {
  position: relative !important;
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 0.75rem !important;
}

.p-4 {
  padding: 1rem !important;
}

.px-1 {
  padding: 0 0.25rem !important;
}

.px-2 {
  padding: 0 0.5rem !important;
}

.px-3 {
  padding: 0 0.75rem !important;
}

.px-4 {
  padding: 0 1rem !important;
}

.py-1 {
  padding: 0.25rem 0 !important;
}

.py-2 {
  padding: 0.5rem 0 !important;
}

.py-3 {
  padding: 0.75rem 0 !important;
}

.py-4 {
  padding: 1rem 0 !important;
}

.pt-1 {
  padding: 0.25rem 0 0 0 !important;
}

.pt-2 {
  padding: 0.5rem 0 0 0 !important;
}

.pt-3 {
  padding: 0.75rem 0 0 0 !important;
}

.pt-4 {
  padding: 1rem 0 0 0 !important;
}

.pr-1 {
  padding: 0 0.25rem 0 0 !important;
}

.pr-2 {
  padding: 0 0.5rem 0 0 !important;
}

.pr-3 {
  padding: 0 0.75rem 0 0 !important;
}

.pr-4 {
  padding: 0 1rem 0 0 !important;
}

.pb-1 {
  padding: 0 0 0.25rem 0 !important;
}

.pb-2 {
  padding: 0 0 0.5rem 0 !important;
}

.pb-3 {
  padding: 0 0 0.75rem 0 !important;
}

.pb-4 {
  padding: 0 0 1rem 0 !important;
}

.pl-1 {
  padding: 0 0 0 0.25rem !important;
}

.pl-2 {
  padding: 0 0 0 0.5rem !important;
}

.pl-3 {
  padding: 0 0 0 0.75rem !important;
}

.pl-4 {
  padding: 0 0 0 1rem !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 0.75rem !important;
}

.m-4 {
  margin: 1rem !important;
}

.mx-1 {
  margin: 0 0.25rem !important;
}

.mx-2 {
  margin: 0 0.5rem !important;
}

.mx-3 {
  margin: 0 0.75rem !important;
}

.mx-4 {
  margin: 0 1rem !important;
}

.my-1 {
  margin: 0.25rem 0 !important;
}

.my-2 {
  margin: 0.5rem 0 !important;
}

.my-3 {
  margin: 0.75rem 0 !important;
}

.my-4 {
  margin: 1rem 0 !important;
}

.mt-1 {
  margin: 0.25rem 0 0 0 !important;
}

.mt-2 {
  margin: 0.5rem 0 0 0 !important;
}

.mt-3 {
  margin: 0.75rem 0 0 0 !important;
}

.mt-4 {
  margin: 1rem 0 0 0 !important;
}

.mr-1 {
  margin: 0 0.25rem 0 0 !important;
}

.mr-2 {
  margin: 0 0.5rem 0 0 !important;
}

.mr-3 {
  margin: 0 0.75rem 0 0 !important;
}

.mr-4 {
  margin: 0 1rem 0 0 !important;
}

.mb-1 {
  margin: 0 0 0.25rem 0 !important;
}

.mb-2 {
  margin: 0 0 0.5rem 0 !important;
}

.mb-3 {
  margin: 0 0 0.75rem 0 !important;
}

.mb-4 {
  margin: 0 0 1rem 0 !important;
}

.ml-1 {
  margin: 0 0 0 0.25rem !important;
}

.ml-2 {
  margin: 0 0 0 0.5rem !important;
}

.ml-3 {
  margin: 0 0 0 0.75rem !important;
}

.ml-4 {
  margin: 0 0 0 1rem !important;
}

.br-box {
  border-radius: 0rem !important;
}

.br-curve {
  border-radius: 0.35rem !important;
}

.br-circle {
  border-radius: 50rem !important;
}

.br-l-box {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.br-l-curve {
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.br-r-box {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.br-r-curve {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}

.br-t-l-box {
  border-top-left-radius: 0rem;
}

.br-t-l-curve {
  border-top-left-radius: 0.35rem;
}

.br-t-r-box {
  border-top-right-radius: 0rem;
}

.br-t-r-curve {
  border-top-right-radius: 0.35rem;
}

.br-b-l-box {
  border-bottom-left-radius: 0rem;
}

.br-b-l-curve {
  border-bottom-left-radius: 0.35rem;
}

.br-b-r-box {
  border-bottom-right-radius: 0rem;
}

.br-b-r-curve {
  border-bottom-right-radius: 0.35rem;
}

.b-0 {
  border: 0px solid #000 !important;
}

.b-1 {
  border: 1px solid #000 !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-grid {
  display: -ms-grid !important;
  display: grid !important;
}

.d-table {
  display: table !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 576px) {
  .box,
  .box-esm {
    max-width: 540px;
  }
  .d-esm-none {
    display: none !important;
  }
  .app .app-section main {
    left: 0 !important;
    width: 100% !important;
  }
  .c-esm-1 {
    width: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-2 {
    width: 10%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-3 {
    width: 15%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-4 {
    width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-5 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-6 {
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-7 {
    width: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-8 {
    width: 40%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-9 {
    width: 45%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-10 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-11 {
    width: 55%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-12 {
    width: 60%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-13 {
    width: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-14 {
    width: 70%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-15 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-16 {
    width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-17 {
    width: 85%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-18 {
    width: 90%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-19 {
    width: 95%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-esm-20 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .esm-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .esm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .esm-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 576px) {
  .box,
  .box-sm {
    max-width: 540px;
  }
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .app .app-section main {
    left: 0 !important;
    width: 100% !important;
  }
  .c-sm-1 {
    width: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-2 {
    width: 10%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-3 {
    width: 15%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-4 {
    width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-5 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-6 {
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-7 {
    width: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-8 {
    width: 40%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-9 {
    width: 45%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-10 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-11 {
    width: 55%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-12 {
    width: 60%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-13 {
    width: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-14 {
    width: 70%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-15 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-16 {
    width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-17 {
    width: 85%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-18 {
    width: 90%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-19 {
    width: 95%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-sm-20 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .sm-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sm-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .box,
  .box-md {
    max-width: 720px;
  }
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
  .c-md-1 {
    width: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-2 {
    width: 10%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-3 {
    width: 15%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-4 {
    width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-5 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-6 {
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-7 {
    width: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-8 {
    width: 40%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-9 {
    width: 45%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-10 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-11 {
    width: 55%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-12 {
    width: 60%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-13 {
    width: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-14 {
    width: 70%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-15 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-16 {
    width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-17 {
    width: 85%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-18 {
    width: 90%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-19 {
    width: 95%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-md-20 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .md-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .md-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .md-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .box,
  .box-lg {
    max-width: 960px;
  }
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .c-lg-1 {
    width: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-2 {
    width: 10%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-3 {
    width: 15%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-4 {
    width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-5 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-6 {
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-7 {
    width: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-8 {
    width: 40%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-9 {
    width: 45%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-10 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-11 {
    width: 55%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-12 {
    width: 60%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-13 {
    width: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-14 {
    width: 70%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-15 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-16 {
    width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-17 {
    width: 85%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-18 {
    width: 90%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-19 {
    width: 95%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-lg-20 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .lg-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lg-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lg-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .box,
  .box-xl {
    max-width: 1140px;
  }
  .d-xl-none {
    display: none !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .app .app-section main {
    left: 16rem !important;
    width: calc(100% - 16rem) !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .c-xl-1 {
    width: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-2 {
    width: 10%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-3 {
    width: 15%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-4 {
    width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-5 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-6 {
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-7 {
    width: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-8 {
    width: 40%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-9 {
    width: 45%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-10 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-11 {
    width: 55%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-12 {
    width: 60%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-13 {
    width: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-14 {
    width: 70%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-15 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-16 {
    width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-17 {
    width: 85%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-18 {
    width: 90%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-19 {
    width: 95%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xl-20 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .xl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .xl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .xl-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1400px) {
  .box,
  .box-xxl {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
  .d-xxl-none {
    display: none !important;
  }
  .d-xxl-block {
    display: block !important;
  }
  .c-xxl-1 {
    width: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-2 {
    width: 10%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-3 {
    width: 15%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-4 {
    width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-5 {
    width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-6 {
    width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-7 {
    width: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-8 {
    width: 40%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-9 {
    width: 45%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-10 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-11 {
    width: 55%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-12 {
    width: 60%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-13 {
    width: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-14 {
    width: 70%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-15 {
    width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-16 {
    width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-17 {
    width: 85%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-18 {
    width: 90%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-19 {
    width: 95%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .c-xxl-20 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .xxl-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .xxl-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .xxl-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=simple.css.map */