.app {
    display: flex;
    flex-direction: column;

    header {
        width: 100%;

        .app-nav-simple {

            .nav-base-links,
            .nav-auth-links {
                li {
                    a {
                        padding: .25rem .75rem;
                        border-radius: .5rem;
                    }

                    a:hover {
                        transition: 300ms ease-in-out;
                        background: $color-w;
                        color: $app-accent-2;
                    }
                }


            }
        }

        .app-nav-m {

            .nav-base-links,
            .nav-auth-links {

                ul {
                    display: flex;

                    li {
                        a {
                            padding: .25rem 1rem;
                            border-radius: .5rem;

                            &:hover {
                                transition: 300ms ease-in-out;
                                background: $color-w;
                                color: $app-accent-2;
                            }

                        }



                    }

                    .dd {
                        position: relative;
                        display: block;
                    }

                    .dd-cnt {
                        display: none;
                        position: absolute;
                        right: 2%;
                        padding: .5rem;
                        border-radius: .5rem;
                        min-height: 12rem;
                        min-width: 10rem;
                        z-index: 99;
                        background: $color-w;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                        ul {
                            display: flex;
                            flex-direction: column;
                            height: inherit;

                            li {
                                display: flex;
                                height: 2.5rem;
                                border-radius: .5rem;

                                .icon {
                                    width: 25%;
                                    float: left;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    i {

                                        background: transparent;
                                        height: inherit;
                                        border-radius: 0rem;
                                    }
                                }

                                .link {
                                    height: inherit;
                                    width: auto;

                                    a {
                                        color: $text-color-2;

                                        margin: 0rem;
                                        height: inherit;
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        padding: 0 1rem;
                                        font-size: .92rem;
                                        font-weight: 500;
                                    }
                                }

                                &:hover {
                                    background: $sidebar-txt-hover;

                                    .icon {
                                        i {
                                            color: $text-hover-color;
                                        }
                                    }

                                    .link {
                                        a {
                                            transition: .4s;
                                            background: transparent;
                                            color: $text-hover-color;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .dd:hover .dd-cnt {
                        display: block;
                    }

                    .dd:hover .dd-btn {
                        background: $color-w;
                        color: $app-accent-2;
                    }
                }

            }


        }


    }

    .app-section {
        display: flex;
        position: relative;
        min-height: 50vh;

        .app-sidebar {
            position: fixed;
            width: $aside-w;
            top: $header-h;
            height: calc(#{$full-h} - #{$nav-h});
            overflow-y: auto;
            background-color: #fefefefe;



            ul {

                padding: 1rem;
                list-style: none;

                li {
                    padding: .25rem 0 .25rem 2rem;

                    a {
                        display: inline-block;
                        padding: 0.25rem .60rem;
                        border-radius: 0.5rem;
                        font-size: .92rem;
                        font-weight: 500;
                        color: $text-color-2;
                    }

                    a:hover {
                        color: $text-hover-color;
                        background-color: $sidebar-txt-hover;
                    }
                }
            }

            .about {
                margin-top: 3rem;
                min-height: 10rem;
                width: 100%;
                border-radius: .5rem;
                background-color: $sidebar-txt-hover;
            }


            // li.small {
            //     display: flex;
            //     padding: 2rem 0 0 0;
            //     justify-content: space-between;

            //     a {
            //         padding: 0;
            //         font-size: 1rem;
            //         font-weight: 600;
            //     }
            // }

            h4 {
                padding: .75rem 0.5rem .25rem;
                cursor: pointer;

                a {
                    padding: .5rem .25rem;
                    color: $text-color-1;
                    font-weight: 600;
                    font-size: .92rem;
                }
            }
        }



    }

    main {
        padding-top: $header-h;
        left: $aside-w;
        width: calc(#{$full-w} - #{$aside-w});


        
                        i {
                         color: $color-w;
                         font-size: $db-i-font-3;
                        }
    }

}