$list-value: start,center,end;

//---------- breakpoints ---------//
@mixin set-col($type, $value) {
    .c-#{$type}-#{$value} {
        width: $value * 5%;
        flex: 0 0 auto;
    }
}

@mixin set-width($type, $unit) {

    .w-#{type}-#{unit} {
        width: $unit * 1% !important;
    }

}
// ------

@mixin set-content($type, $value) {

    .#{$type}-#{$value} {
        justify-content: $value;
        display: flex;
        align-items: center;
    }

}
// code will oly work if the width is under 576px
@media (max-width:576px) {

    .box,
    .box-esm {
        max-width: $w-sm-max;
    }

    .d-esm-none {
        display: none !important
    }

   
    .app {
        .app-section {

            main {
                left: 0 !important;
                width: 100% !important;
            }
        }
    }

    @for $var from 1 through 20 {
        @include set-col(esm, $var);
    }

    @each $var-value in $list-value {
        @include set-content(esm, $var-value);
    }
}

// code will oly work if the width is over 576px
@media (min-width:576px) {

    
    .box,
    .box-sm {
        max-width: $w-sm-max;
    }

    .d-sm-none {
        display: none !important
    }

    .d-sm-block {
        display: block !important
    }

    .d-sm-inline-block {
        display: inline-block !important
    }

    // main {
    //     left: 0 !important;
    //     width: 100% !important;
    // }

    .app {
        .app-section {

            main {
                left: 0 !important;
                width: 100% !important;
            }
        }
    }

    @for $var from 1 through 20 {
        @include set-col(sm, $var);
    }
  
    
    @each $var-value in $list-value {
        @include set-content(sm, $var-value);
    }
}

// code will oly work if the width is over 768px
@media (min-width:768px) {

    .box,
    .box-md {
        max-width: $w-md-max;
    }

    .d-md-none {
        display: none !important
    }

    .d-md-block {
        display: block !important
    }


    @for $var from 1 through 20 {
        @include set-col(md, $var);
    }

    @each $var-value in $list-value {
        @include set-content(md, $var-value);
    }
}

// code will oly work if the width is over 992px
@media (min-width:992px) {



    .box,
    .box-lg {

        max-width: $w-lg-max;
    }

    .d-lg-none {
        display: none !important
    }

    .d-lg-block {
        display: block !important
    }

    @for $var from 1 through 20 {
        @include set-col(lg, $var);
    }

    @each $var-value in $list-value {
        @include set-content(lg, $var-value);
    }
}

// code will oly work if the width is over 1200px
@media (min-width:1200px) {

    .box,
    .box-xl {

        max-width: $w-xl-max;
    }

    .d-xl-none {
        display: none !important
    }

    .d-xl-block {
        display: block !important
    }

    .app {
        .app-section {

            main {

                left: $aside-w !important;
                width: calc(#{$full-w} - #{$aside-w}) !important;
            }
        }
    }

    .d-xl-inline-block {
        display: inline-block !important
    }

    @for $var from 1 through 20 {
        @include set-col(xl, $var);
    }

    @each $var-value in $list-value {
        @include set-content(xl, $var-value);
    }

}

// code will oly work if the width is over 1400px
@media (min-width:1400px) {

    .box,
    .box-xxl {

        max-width: $w-xxl-max;
        margin-left: auto;
        margin-right: auto;
    }

    .d-xxl-none {
        display: none !important
    }

    .d-xxl-block {
        display: block !important
    }

    @for $var from 1 through 20 {
        @include set-col(xxl, $var);
    }

    @each $var-value in $list-value {
        @include set-content(xxl, $var-value);
    }

}