input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="date"]
{
    flex-grow: 1;
    margin: .5rem 0;
    height: 3rem;
    display: block;
    padding: 0 1rem;
    // border-radius: .35rem;
    font-size: .9rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: $text-color-2;
    letter-spacing: .02rem;
    border: none;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="search"]:focus {
    background-color: $color-w;
    border-radius: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}



::placeholder {
    font-size: .9rem;
    font-weight: 500;
    // letter-spacing: .001rem;
    font-family: "Poppins", sans-serif;

}






// input[type="button"],
// input[type="submit"],
// input[type="reset"] {
//     width: 100%;
//     background-color: #F1F1F1;
//     border-radius: .3rem;
//     margin: 1rem 0;
//     border: none;
//     height: 3rem;
//     font-size: .95rem;
//     font-weight: 500;
//     box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
// }

// input[type="button"]:hover,
// input[type="submit"]:hover,
// input[type="reset"]:hover {

//     background-color: #000;
//     color: #FFF;
//     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
// }