//----- breakpoints width -----//

$w-sm: 576px;
$w-sm-max: 540px;

$w-md: 768px;
$w-md-max: 720px;

$w-lg: 992px;
$w-lg-max: 960px;

$w-xl: 1200px;
$w-xl-max: 1140px;

$w-xxl: 1400px;
$w-xxl-max: 1320px;

//----- height & width variable
$header-h:5rem;
$nav-h: 5rem;
$aside-w: 16rem;
$aside-closed-w:5rem;
$footer-h:5rem;
$full-h: 100%;
$full-w: 100%;

//----- Color variable

$text-color-1:#040404;
$text-color-2:#303030;
$text-color-3:#28282B;
$text-hover-color:#00c9c8;

$color-w:#FFFFFF;
$color-1:#f3f3f3;
$color-2:#f6f6f6;
$color-3:#f7f4f4;
$color-b:#000000;

$nav-color:#00c9c8;
$burger-color:#28161c;

$sidebar-txt-hover:#00c9c913;

$app-accent-1:#00c9c8;
$app-accent-2:#00aaa9;
$app-accent-3:#00e6e4;
$app-accent-4:#00c9c913;
//---------
$db-sidebar-1:#00c9c8;
$db-sidebar-2:#00aaa9;
$db-sidebar-3:#00e6e4;

$db-i-font-1:1rem;
$db-i-font-2:1.25rem;
$db-i-font-3:1.5rem;
$db-i-font-4:1.75rem;
$db-i-font-5:2rem;