//----- margin all-side -----//
@mixin margin($unit) {
    margin: $unit !important;
}

//----- horizontal Margin -----//
@mixin hMargin($unitX, $unitY) {
    margin: $unitY $unitX !important;
}

//----- vertical Margin -----//
@mixin vMargin($unitX, $unitY) {
    margin: $unitY $unitX !important;
}

//----- margin only top -----//
@mixin tMargin($unitT, $unitL, $unitB, $unitR) {
    margin: $unitT $unitL $unitB $unitR !important;
}

//----- margin only left -----//
@mixin lMargin($unitT, $unitL, $unitB, $unitR) {
    margin: $unitT $unitL $unitB $unitR !important;
}

//----- margin only bottom -----//
@mixin bMargin($unitT, $unitL, $unitB, $unitR) {
    margin: $unitT $unitL $unitB $unitR !important;
}

//----- margin only right -----//
@mixin rMargin($unitT, $unitL, $unitB, $unitR) {
    margin: $unitT $unitL $unitB $unitR !important;
}
//----- margin value -----//
$m-list :  .25rem .50rem .75rem  1rem;;


//----- margin -----//
@each $var in $m-list {
    .m-#{index($m-list,$var)} {
        @include margin($var);
    }
}

//----- horizontal margin -----//

@each $var in $m-list {
    .mx-#{index($m-list,$var)} {
        @include hMargin($var,0);
    }
}

//----- vertical margin -----//

@each $var in $m-list {
    .my-#{index($m-list,$var)} {
        @include vMargin(0,$var);
    }
}

//----- margin top -----//
@each $var in $m-list {
    .mt-#{index($m-list,$var)} {
        @include tMargin($var, 0, 0, 0);
    }
}

//----- margin right -----//
@each $var in $m-list {
    .mr-#{index($m-list,$var)} {
        @include tMargin(0, $var, 0, 0);
    }
}

//----- margin bottom -----//
@each $var in $m-list {
    .mb-#{index($m-list,$var)} {
        @include bMargin(0, 0, $var, 0);
    }
}

//----- margin left -----//
@each $var in $m-list {
    .ml-#{index($m-list,$var)} {
        @include lMargin(0, 0, 0, $var);
    }
}
