//----- padding all-side -----//
@mixin padding($unit) {
    padding: $unit !important;
}

//----- horizontal Padding -----//
@mixin hPadding($unitX, $unitY) {
    padding: $unitY $unitX !important;
}

//----- vertical Padding -----//
@mixin vPadding($unitX, $unitY) {
    padding: $unitY $unitX !important;
}

//----- padding only top -----//
@mixin tPadding($unitT, $unitL, $unitB, $unitR) {
    padding: $unitT $unitL $unitB $unitR !important;
}

//----- padding only left -----//
@mixin lPadding($unitT, $unitL, $unitB, $unitR) {
    padding: $unitT $unitL $unitB $unitR !important;
}

//----- padding only bottom -----//
@mixin bPadding($unitT, $unitL, $unitB, $unitR) {
    padding: $unitT $unitL $unitB $unitR !important;
}

//----- padding only right -----//
@mixin rPadding($unitT, $unitL, $unitB, $unitR) {
    padding: $unitT $unitL $unitB $unitR !important;
}
//----- padding value -----//
$p-list : .25rem .50rem .75rem  1rem;


//----- padding -----//
@each $var in $p-list {
    .p-#{index($p-list,$var)} {
        @include padding($var);
    }
}

//----- horizontal padding -----//

@each $var in $p-list {
    .px-#{index($p-list,$var)} {
        @include hPadding($var,0);
    }
}

//----- vertical padding -----//

@each $var in $p-list {
    .py-#{index($p-list,$var)} {
        @include vPadding(0,$var);
    }
}

//----- padding top -----//
@each $var in $p-list {
    .pt-#{index($p-list,$var)} {
        @include tPadding($var, 0, 0, 0);
    }
}

//----- padding right -----//
@each $var in $p-list {
    .pr-#{index($p-list,$var)} {
        @include tPadding(0, $var, 0, 0);
    }
}

//----- padding bottom -----//
@each $var in $p-list {
    .pb-#{index($p-list,$var)} {
        @include bPadding(0, 0, $var, 0);
    }
}

//----- padding left -----//
@each $var in $p-list {
    .pl-#{index($p-list,$var)} {
        @include lPadding(0, 0, 0, $var);
    }
}
