@mixin set-wrapper($unit) {
    .wrapper-#{$unit} {
        padding: $unit+rem !important;
    }
}

@mixin set-wrapper-x($unit) {
    .wrapper-x-#{$unit} {
        padding: 0 $unit+rem !important;
    }
}

@mixin set-wrapper-y($unit) {

    .wrapper-y-#{$unit} {
        padding: $unit+rem 0 !important;
    }
}


@for $var from 1 through 5 {

    @include set-wrapper($var);
    @include set-wrapper-x($var);
    @include set-wrapper-y($var);
}